.layout {
    font-family: var(--font-inter);
    /* Using the Inter font we set up */
    background-color: #020c1b;
    /* Deep space blue */
    color: #f4f4f4;
    /* Light text color for contrast */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}



.content {
    flex: 1;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}