.layout {
    font-family: 'Arial', sans-serif;
    background-color: #020c1b;
    /* Deep space blue */
    color: #f4f4f4;
    /* Light text color for contrast */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: #0e1f36;
    /* Slightly lighter space blue */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
}

.logo span {
    color: #ffc500;
    /* Star Wars gold */
}