.container {
    padding: 20px;
    margin-top: 60px;
}

.title {
    text-align: center;
    color: #ffc500;
    /* Star Wars gold */
}

.links {
    list-style: none;
    /* This removes the bullet points */
    padding-left: 0;
    /* This removes any default padding */
}

.filmList {
    text-decoration: none;
    margin: 5;
    text-align: center;
    color: #fff48f;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* spacing between items */
}